.list-table-format{
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 0.5fr;
    align-items: center;
    gap: 10px;
    padding: 12px 15px;
    border: 1px solid #cacaca;
    font-size: 13px;
}

.list-table-format.title{
    background-color: #f9f9f9;
} 

.list-table-format img{
    width: 50px;
}

@media (max-width : 600px) {
    .list-table-format {
        grid-template-columns: 1fr 3fr 1fr;
        gap: 15px;
    }

    .list-table-format.title{
        display: none;
    }
    
}

.modal-overlay {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .modal-content {
    background: white;
    padding: 20px;
    width: 400px;
    border-radius: 10px;
    text-align: center;
  }
  
  .edit-form input,
  .edit-form textarea {
    width: 100%;
    padding: 8px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .file-upload {
    display: block;
    margin: 10px 0;
    font-weight: bold;
  }
  
  .modal-buttons {
    display: flex;
    justify-content: space-between;
  }
  
  .update-btn, .cancel-btn {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .update-btn {
    background: green;
    color: white;
  }
  
  .cancel-btn {
    background: red;
    color: white;
  }
  
  .edit-btn {
    background: blue;
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .delete-btn {
    background: red;
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  